<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome Admin, {{ username }}!</h1>

    <nav>
        <a href="/">Home</a> |
        <a class="logout" href="/logout">Logout</a>
    </nav>
    <p>features for admin will go here.</p>

    <h2>Add New Product</h2>
    <form method="POST">
        <input type="hidden" name="add_product">
        <label for="name">Name:</label><input type="text" id="name" name="name" required><br>
        <labe for="price">Price:</label><input type="number" id="price" name="price" required><br>
        <label for="stock">Quantity:</label><input type="number" id="stock" name="stock" required><br>
        <label for="description">Description:</label><input type="text" id="description" name="description" required><br>
        <input type="submit" value="Add Product">
    </form>


    <h2>Update Product Stock</h2>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Current Stock</th>
            <th>New Stock</th>
        </tr>

        {% for pid, product in products.items() %}
        <tr>
            <td>{{ pid }}</td>
            <td>{{ product.name }}</td>
            <td>{{ "%.2f"|format(product.price) }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <form method="POST" style="display:inline;">
                    <input type="hidden" name="update_stock">
                    <input type="hidden" name="product_id" value="{{ pid }}">
                    <input type="number" name="quantity" min="0" required>
                    <input type="submit" value="Update">
                </form>

                <form method="POST" style="display:inline;">
                    <input type="hidden" name="delete_product">
                    <input type="hidden" name="product_id" value="{{ pid }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
