<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="header">Welcome to Login Page!</h1>

    <nav style="text-align: center;">
        <a href="/">Home</a> |
        <a href="/login">Login</a> |
        <a href="/signup">Signup</a>
    </nav>

    <div class="formContainer">
        <form method="POST" class="accountForm">
            <label for="username">Username:</label><input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {{ messages[-1] }}
        {% endif %}
    {% endwith %}

</body>
</html>
