<!DOCTYPE html>
<html>
<head>
    <title>Sign-up Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="header">Welcome to Sign-up Page!</h1>

    <nav style="text-align: center;">
        <a href="/">Home</a> |
        <a href="/login">Login</a> |
        <a href="/signup">Signup</a>
    </nav>

    <div class="formContainer">
        <form method="POST" class="accountForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <div class="radio-group">
            <label for="user">User</label>
            <input type="radio" id="user" name="account" value="user">
            <label for="admin">Admin</label>
            <input type="radio" id="admin" name="account" value="admin"><br>
            </div>

            <input type="submit" value="Sign-up!">
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {{ messages[-1] }}
            </div>
        {% endif %}
    {% endwith %}

</body>
</html>
